body{
  background-color: #efeee7;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 28px;
  color: #333333;
  margin:0; 
  padding: 0;
  
}

header{
  background-color: #efeee7;
} 

h1 {
  color:#eee;
  font-size: 28px;
  background: #333333;
  margin-bottom: 20px;
  margin: 10px;
  padding: 10px 0px;
  text-align: center;
}

h2{
  font-size: 24px;
}

a {
  color: #d21034
}

.container {
  width: 1024px;
  margin: 0 auto;
}

#main-bio, 
#contact-info, 
#bio-image{
  float:left;
}

#main-bio {
  width: 70%;
 }

 #contact-info {
  width: 30%;
  height 36px;
 }

#bio-image{
  float: left;
  margin-right: 20px; 

}

p {margin-left 10px; margin-left 10px;
} 